<h3>Projects</h3>

<ul>
  <li><p>Name: <%= @project.name %></p></li>
  <li><p>Material: <%= @project.material %></p></li>
  <li><p>Theme: <%= @project.challenge.theme %></p></li>
  <li><p>Number Of Contestants: <%= @project.contestants.count %></p></li>
  <li><p>Average Contestant Experience: <%= @project.contestants.avg_exp %></p></li>
</ul>
