<h3>Projects</h3>

<%= @project.name %>
<%= @project.material %>
<%= @project.challenge.theme %>
<p>Number Of Contestants: <%= @project.contestants.count %></p>
<p>Average Contestant Experience: <%= @project.contestants.avg_exp %></p>
